<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
        <footer>
            <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js}"></script>
            <script th:src="@{/assets/js/vanilla-zoom.js}"></script>
            <script th:src="@{/assets/js/theme.js}"></script>
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js}"></script>
            <script crossorigin="anonymous"
                    integrity="sha512-fp+kGodOXYBIPyIXInWgdH2vTMiOfbLC9YqwEHslkUxc8JLI7eBL2UQ8/HbB5YehvynU3gA3klc84rAQcTQvXA=="
                    referrerpolicy="no-referrer"
                    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.min.js"></script>
        </footer>
    </div>
</div>
</body>
</html>