<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
        <footer>
            <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js}"></script>
            <script th:src="@{/assets/js/vanilla-zoom.js}"></script>
            <script th:src="@{/assets/js/theme.js}"></script>
        </footer>
    </div>
</div>
</body>
</html>