<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>Options - eCare</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i}">
    <link rel="stylesheet" th:href="@{/assets/fonts/simple-line-icons.min.css}">
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vanilla-zoom.min.css}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        <a class="navbar-brand logo" th:href="@{/}">eCare</a>
        <button class="navbar-toggler" data-bs-target="#navcol-1" data-bs-toggle="collapse">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" th:href="@{/admin}">Service Page</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/registration}">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="block-heading">
            <h2 class="text-info">Option Add Page</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
                vitae leo.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <form method="post" th:action="@{/admin/options/add}" th:object="${option}">
                        <input name="id" th:field="*{id}" type="hidden">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <div>
                                <input class="form-control" id="name" name="name" placeholder="Enter name" required
                                       th:field="*{name}"
                                       type="text">
                            </div>
                            <br>
                            <label for="name">Price</label>
                            <div>
                                <input class="form-control" id="price" name="price" placeholder="Enter price" required
                                       th:field="*{price}" type="text">
                            </div>
                            <br>
                            <label for="name">Connection price</label>
                            <div>
                                <input class="form-control" id="connectionPrice" name="connectionPrice"
                                       placeholder="Enter connection price" required
                                       th:field="*{connectionPrice}" type="text">
                            </div>
                            <div>

                            </div>
                        </div>
                        <br>
                        <div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js}"></script>
<script th:src="@{/assets/js/vanilla-zoom.js}"></script>
<script th:src="@{/assets/js/theme.js}"></script>
</body>

</html>















