<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Contracts - eCare</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="block-heading">
            <h2 class="text-info">Contract Add Page</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
                vitae leo.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <form method="post" th:action="@{/admin/contracts/add}" th:object="${contract}">
                        <input name="id" th:field="*{id}" type="hidden">
                        <div class="form-group">
                            <label for="clients">Select client</label>
                            <div class="form-group">
                                <select class="form-control" id="clients" name="clients" th:field="*{client}">
                                    <option th:each="client :${clients}"
                                            th:text="${client.email}"
                                            th:value="${client.id}"
                                    >
                                </select>
                            </div>
                            <br>
                            <label for="number">Number</label>
                            <div>
                                <input class="form-control" id="number" name="number" placeholder="Enter number"
                                       required th:field="*{number}" type="text">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="tariff">Select tariff</label>
                                <select class="form-control" id="tariff" name="tariff" th:field="*{tariff}">
                                    <option th:each="tariff :${tariffs}"
                                            th:text="${tariff.name}"
                                            th:value="${tariff.id}"
                                    >
                                </select>
                            </div>
                        </div>
                        <br>
                        <div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>