<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>Contact Us - Brand</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i" rel="stylesheet">
    <link href="assets/fonts/simple-line-icons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" rel="stylesheet">
    <link href="assets/css/vanilla-zoom.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">eCare</a>
        <button class="navbar-toggler" data-bs-target="#navcol-1" data-bs-toggle="collapse"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="register.html">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Contact Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                    mattis vitae leo.</p>
            </div>
            <form>
                <div class="mb-3"><label class="form-label" for="name">Name</label><input class="form-control"
                                                                                          id="name" name="name"
                                                                                          type="text"></div>
                <div class="mb-3"><label class="form-label" for="subject">Subject</label><input class="form-control"
                                                                                                id="subject" name="subject"
                                                                                                type="text"></div>
                <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control"
                                                                                            id="email" name="email"
                                                                                            type="email"></div>
                <div class="mb-3"><label class="form-label" for="message">Message</label><textarea class="form-control"
                                                                                                   id="message"
                                                                                                   name="message"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
    </section>
</main>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>