<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>Payment - Brand</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i" rel="stylesheet">
    <link href="assets/fonts/simple-line-icons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" rel="stylesheet">
    <link href="assets/css/vanilla-zoom.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">eCare</a>
        <button class="navbar-toggler" data-bs-target="#navcol-1" data-bs-toggle="collapse"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="register.html">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page payment-page">
    <section class="clean-block payment-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Payment</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                    mattis vitae leo.</p>
            </div>
            <form>
                <div class="products">
                    <h3 class="title">Checkout</h3>
                    <div class="item"><span class="price">$200</span>
                        <p class="item-name">Product 1</p>
                        <p class="item-description">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="item"><span class="price">$120</span>
                        <p class="item-name">Product 2</p>
                        <p class="item-description">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="total"><span>Total</span><span class="price">$320</span></div>
                </div>
                <div class="card-details">
                    <h3 class="title">Credit Card Details</h3>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="mb-3"><label class="form-label" for="card_holder">Card Holder</label><input
                                    class="form-control" id="card_holder" name="card_holder" placeholder="Card Holder"
                                    type="text"></div>
                        </div>
                        <div class="col-sm-5">
                            <div class="mb-3"><label class="form-label">Expiration date</label>
                                <div class="input-group expiration-date"><input class="form-control" name="expiration_month"
                                                                                placeholder="MM"
                                                                                type="text"><input
                                        class="form-control" name="expiration_year" placeholder="YY" type="text"></div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="mb-3"><label class="form-label" for="card_number">Card Number</label><input
                                    class="form-control" id="card_number" name="card_number" placeholder="Card Number"
                                    type="text"></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3"><label class="form-label" for="cvc">CVC</label><input class="form-control"
                                                                                                    id="cvc" name="cvc"
                                                                                                    placeholder="CVC"
                                                                                                    type="text"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100" type="submit">Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>