<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Services - eCare</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Service Page</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                    mattis vitae leo.</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top w-100 d-block" th:src="@{/assets/img/scenery/image5.jpg}">
                        <div class="card-body">
                            <h4 class="card-title">Manage tariffs</h4>
                            <p class="card-text">Create, update, delete tariffs, add options to tariffs</p>
                        </div>
                        <div>
                            <a th:href="@{/admin/tariffs}">
                                <button class="btn btn-outline-primary btn-sm" type="button">Go</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top w-100 d-block" th:src="@{/assets/img/scenery/image6.jpg}">
                        <div class="card-body">
                            <h4 class="card-title">Manage options</h4>
                            <p class="card-text">Create, update, delete options, add dependencies or incompatibles</p>
                        </div>
                        <div>
                            <a th:href="@{/admin/options}">
                                <button class="btn btn-outline-primary btn-sm" type="button">Go</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top w-100 d-block" th:src="@{/assets/img/scenery/image1.jpg}">
                        <div class="card-body">
                            <h4 class="card-title">Manage contracts</h4>
                            <p class="card-text">Discover contracts and create contracts with tariff and options</p>
                        </div>
                        <div>
                            <a th:href="@{/admin/contracts}">
                                <button class="btn btn-outline-primary btn-sm" type="button">Go</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>